.panel.panel-default
  .panel-heading
    %h3.panel-title History
  .panel-body

    %h4 Search By:
    = simple_form_for :search, url: search_histories_path, method: :post do |f|
      .row
        .col-sm-6
          = f.input :name_of_loanee
        .col-sm-6
          = f.input :name_of_item

      %label Select a Category
      = f.collection_select :category_id, Category.order(:name), :id, :name, { prompt: 'Please select' }
      %label Select a Sub-Category
      = f.grouped_collection_select :subcategory_id, Category.order(:name), :subcategories, :name, :id, :name, { prompt: 'Please select' }

      = f.submit 'Search', class: 'btn btn-primary', id: 'search-button'
      = link_to 'Reset', histories_path
      = link_to 'Stats', statistics_histories_path

  .table-responsive
    %table.table.table-striped
      %thead
        %tr.bg-primary
          %th Item
          %th Loan Date
          %th Due Date
          %th Loanee


      %tbody#histories_table
        = render 'histories_table'
