- @items.each do |item|
  %tr
    %td= image_tag show_image_item_path(item), size: '200'
    %td= item.name
    %td= item.description
    %td= link_to 'Show', item, class: 'btn btn-info'
    %td= link_to 'Loan', new_loan_path(:item => item.id), class: 'ajax-modal btn btn-success'
    - if can?(:edit, Category)
      %td= link_to 'Edit', edit_item_path(item), class: 'ajax-modal btn btn-warning'
