.panel.panel-default
  .panel-heading
    %h3.panel-title= @item.name
  .panel-body
    %p
      %b Item name:
      = @item.name
    %p
      %b Item code:
      = @item.code
    %p
      %b Description:
      = @item.description
    %p
      %b Category:
      = @item.category.name
    %p
      %b Sub-Category:
      = @item.subcategory.name
    %p
      %b Colour:
      = @item.colour.name
    %p
      %b Image:
      %br
      .imcontainer
        = image_tag show_image_item_path(@item)

  .panel-footer
    - if can?(:edit, Category)
      = link_to 'Edit', edit_item_path(@item), class: 'ajax-modal btn btn-warning'
      \|
    = link_to 'Loan', new_loan_path(:item => @item.id), class: 'ajax-modal btn btn-success'
    = link_to 'Back', items_path
